* {
   box-sizing: border-box;
   margin:     0;
   padding:    0;
 }
  body {
   background:  #000000;
   color:       #FFFFFF;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   font-size:   0.9em;
 }
  ul {
   list-style: none;
 }
  /**
  * top header
  */
 .top-header {
   position:    fixed;
   align-items: center;
   background:  #22006f;
   box-shadow:  0px 2px 10px #000000;
   display:     flex;
   height:      60px;
   top:         0;
   width:       100%;
 }
 .top-header-container {
 	margin: auto;
 	width: 1200px;
 	min-width: 600px;
 }
  /**
  * top navigation
  */
 .top-nav {
   flex: 1;
 }
  .top-nav a {
   color:           #ffffff;
   font-weight:     400;
   margin-left:     20px;
   text-decoration: none;
 }
 #welcome-msg {
 	float: right;
 	margin-left: 20px;
 }
 #avatar {
 	float: right;
 	margin-left: 20px;
 }
 #logout-link {
 	float: right;
 	margin-left: 20px;
 	color: #FFFFFF;
 }
 
 /**
 * login form and signup form
 */
 .input-label {
 	margin-left: 20px;
 	font-size: 18px;
 }
 .input {
 	width: 100px;
 	border-radius: 3px;
 	margin-left: 10px;
 	font-size: 18px;
 }
 .form-btn {
 	font-size: 18px;
 	margin-left: 20px;
 	padding-left: 5px;
 	padding-right: 5px;
 	border-radius: 3px;
 }
 #login-form {
 	padding-top: 30px;
 	padding-bottom: 20px;
 }
 #signup-form {
 	padding-top: 30px;
 	padding-bottom: 20px;
 }
 .error-log {
 	padding-top: 20px;
 	margin-left: 20px;
 }
 
  /**
  * main container
  */
 .container {
   margin:    60px auto;
   width: 1200px;
   min-width: 600px;
 }
  /**
  * main header
  */
 .container > header {
   align-items:     center;
   background:      url('../images/background.jpg') no-repeat 50% 50%;
   background-size: 100%;
   display:         flex;
   height:          300px;
 }
  .container > header p {
   border-left:  1px solid #FFFFFF;
   font-weight:  400;
   font-size:    3em;
   line-height:  1em;
   margin-left:  150px;
   padding-left: 5px;
 }
  .container > header span {
   color: #FBAF41;
 }
  /**
  * main section
  */
 .main-section {
   background: #000000;
   box-shadow: 0px 2px 10px #000000;
 }
  /**
  * aside
  */
 #item-nav {
   display: block;
   float: left;
   width: 200px;
   font-size: 17px;
 }
  .nav-icon {
   color:      #FFFFFF;
   padding:    20px;
   text-align: center;
 }
  /**
  * main navigation
  */
 .main-nav-btn {
   background:      none;
   border-top:      1px solid #FFFFFF;
   color:           #FFFFFF;
   display:         block;
   padding:         20px;
   text-align:      left;
   text-decoration: none;
 }
  .main-nav-btn:hover {
   background: rgba(255, 255, 255, 0.8);
   color:      #624630;
 }
  .main-nav-btn.active {
   background: #22006f;
   color:      #FFFFFF;
 }
  .main-nav-btn i {
   width: 20px;
 }
  /**
  * item list
  */
 #item-list {
   background:  #22006f;
   color:       #ffffff;
   display:     block;
   list-style:  none;
   margin-left: 200px;
   min-height:  300px;
   padding:     10px;
 }
  #item-list .notice {
   font-size:  16px;
   padding:    60px;
   text-align: center;
 }
  /**
  * item
  */
 .item {
   align-items:   center;
   border-bottom: 1px solid #FFFFFF;
   display:       flex;
   margin:        30px;
   padding:       0px;
 }
  .item:last-child {
   border: none;
 }
  .item:hover {
   background: rgba(255, 255, 255, 0.8);
 }
  .item img {
   border: 1px solid #FFFFFF;
   height: 120px;
   width:  180px;
 }
  .item > div:first-of-type {
   flex:         1;
   margin-left:  10px;
   margin-right: 10px;
 }
  .item-name {
   color:           #FFFFFF;
   font-weight:     600;
   text-decoration: none;
   margin-left: 10px;
 }
  .item-name:hover {
   text-decoration: underline;
 }
 .item-category {
 	margin-top: 10px;
 	margin-left: 10px;
 }
  .item-address {
   line-height:   20px;
   padding-right: 20px;
   text-align:    right;
 }
  .stars {
   align-items: center;
   display:     flex;
   padding-top: 10px;
 }
  .fav-link {
   border-left: 1px solid #FFFFFF;
   cursor:      pointer;
   line-height: 60px;
   text-align:  center;
   width:       60px;
 }
  .fav-link:hover {
   color: #F13F3F;
 }
  /**
  * footer section
  */
 footer {
   background: #000000;
   font-size:  0.8em;
   height:     200px;
   position:   relative;
 }
  footer p {
   text-align: center;
 }
  footer p.title {
   font-size: 1.2em;
   padding:   15px;
 }
  footer ul {
   align-items: center;
   display:     flex;
   padding:     20px;
 }
  footer ul li {
   flex: 1;
 }
 .footer-container {
 	margin: auto;
 	width: 1200px;
 	min-width: 600px;
 }